<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239436148394-kglcsk4h1h8tjlvgsmi63gijtknki97a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239436148394-kglcsk4h1h8tjlvgsmi63gijtknki97a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>239436148394-7171n7gf1k697euo0akfqvbbtd6ctn4q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYy3UkdXoIRfBzJEbOV9Vrml3ybq90Qi8</string>
	<key>GCM_SENDER_ID</key>
	<string>239436148394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vybrnt</string>
	<key>PROJECT_ID</key>
	<string>vybrnt-production-release</string>
	<key>STORAGE_BUCKET</key>
	<string>vybrnt-production-release.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239436148394:ios:1b849f1bb60cbc80d9aad3</string>
	<key>DATABASE_URL</key>
	<string>https://vybrnt-production-release.firebaseio.com</string>
</dict>
</plist>